openapi: 3.0.3
info:
  title: CaptivateIQ Attribute Worksheets Commission Plans API
  version: v1
  description: The CaptivateIQ REST API (ciq/v1) for managing employees, hierarchies, data worksheets, commission plans, payouts, reports, and related sales-compensation resources. Harvested from the public developer reference (developers.captivateiq.com).
  x-apievangelist-provenance:
    generated: '2026-07-18'
    method: searched
    source: https://developers.captivateiq.com/reference (per-operation OpenAPI defs merged)
servers:
- url: https://api.captivateiq.com
  description: Production
security:
- tokenAuth: []
tags:
- name: Commission Plans
paths:
  /ciq/v1/period-groups/:
    get:
      operationId: period_groups_list
      summary: List Period Groups
      parameters:
      - in: query
        name: is_active
        schema:
          type: boolean
        description: '`true` to request only active period groups, or `false` to request only inactive. Leave blank to see all.'
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: 'Optional. Which field to use when ordering the results. By default we assume [`name`]. Available fields for ordering: [`(-)name`, `(-)is_active`]. See the [FAQs](https://developers.captivateiq.com/docs/faqs) page for tips.'
        schema:
          type: string
      - in: query
        name: payout_date_ids[]
        schema:
          type: string
          format: uuid
        description: Filter by payout date UUID
        explode: true
      - in: query
        name: plan_ids[]
        schema:
          type: string
          format: uuid
        description: Filter by plan UUIDs. Each UUID should be put in its own `plan_ids[]` parameter.
        explode: true
      tags:
      - Commission Plans
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPeriodGroupList'
          description: ''
  /ciq/v1/period-groups/{id}/:
    get:
      operationId: period_groups_retrieve
      summary: Get Period Group
      parameters:
      - in: path
        name: id
        schema:
          type: string
          format: uuid
        description: Primary key, a UUID.
        required: true
      tags:
      - Commission Plans
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PeriodGroup'
          description: ''
  /ciq/v1/plans/:
    get:
      operationId: plans_list
      summary: List Commission Plans
      parameters:
      - in: query
        name: is_active
        schema:
          type: boolean
        description: '`true` to request only active plans, or `false` to request only inactive. Leave blank to see all.'
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: 'Optional. Which field to use when ordering the results. By default we assume [`name`]. Available fields for ordering: [`(-)name`, `(-)is_active`, `(-)created_at`, `(-)updated_at`]. See the [FAQs](https://developers.captivateiq.com/docs/faqs) page for tips.'
        schema:
          type: string
      - in: query
        name: payout_date_ids[]
        schema:
          type: string
          format: uuid
        description: Filter by payout date UUID
        explode: true
      - in: query
        name: period_group_ids[]
        schema:
          type: string
          format: uuid
        description: Filter by period group UUID
        explode: true
      tags:
      - Commission Plans
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPlanList'
          description: ''
  /ciq/v1/plans/{id}/:
    get:
      operationId: plans_retrieve
      summary: Get Commission Plan
      parameters:
      - in: path
        name: id
        schema:
          type: string
          format: uuid
        description: Primary key, a UUID.
        required: true
      tags:
      - Commission Plans
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plan'
          description: ''
  /ciq/v1/plans/{plan_uuid}/period-groups/{period_group_uuid}/employee-assumptions/export/:
    post:
      operationId: plans_period_groups_employee_assumptions_export_create
      description: Export employee assumptions for a specific period group as CSV
      summary: Export Employee Assumptions for Period Group
      parameters:
      - in: path
        name: period_group_uuid
        schema:
          type: string
          format: uuid
        required: true
      - in: path
        name: plan_uuid
        schema:
          type: string
          format: uuid
        required: true
      tags:
      - Commission Plans
      security:
      - tokenAuth: []
      responses:
        '200':
          description: No response body
components:
  schemas:
    PaginatedPeriodGroupList:
      type: object
      properties:
        object:
          type: string
          example: list
        total_count:
          type: integer
          example: 123
        next:
          type: string
          nullable: true
          format: uri
          example: http://api.example.org/accounts/?offset=400&limit=100
        previous:
          type: string
          nullable: true
          format: uri
          example: http://api.example.org/accounts/?offset=200&limit=100
        data:
          type: array
          items:
            $ref: '#/components/schemas/PeriodGroup'
    PaginatedPlanList:
      type: object
      properties:
        object:
          type: string
          example: list
        total_count:
          type: integer
          example: 123
        next:
          type: string
          nullable: true
          format: uri
          example: http://api.example.org/accounts/?offset=400&limit=100
        previous:
          type: string
          nullable: true
          format: uri
          example: http://api.example.org/accounts/?offset=200&limit=100
        data:
          type: array
          items:
            $ref: '#/components/schemas/Plan'
    PeriodGroup:
      type: object
      properties:
        object:
          type: string
          readOnly: true
          default: period_group
        id:
          type: string
          readOnly: true
        plan:
          type: string
          readOnly: true
        plan_name:
          type: string
          readOnly: true
        workbook:
          type: string
          readOnly: true
        name:
          type: string
        is_active:
          type: boolean
        created_at:
          type: string
          format: date-time
          readOnly: true
        updated_at:
          type: string
          format: date-time
          readOnly: true
      required:
      - is_active
      - name
    Plan:
      type: object
      properties:
        object:
          type: string
          readOnly: true
          default: plan
        id:
          type: string
          readOnly: true
        period_groups:
          type: array
          items:
            type: string
            format: uuid
          readOnly: true
        payout_dates:
          type: array
          items:
            type: string
            format: uuid
          readOnly: true
        name:
          type: string
        confetti_enabled:
          type: boolean
        is_active:
          type: boolean
        created_at:
          type: string
          format: date-time
          readOnly: true
        updated_at:
          type: string
          format: date-time
          readOnly: true
        preview_config:
          type: object
          additionalProperties: {}
          readOnly: true
        attainment_display_setting:
          type: string
          readOnly: true
      required:
      - confetti_enabled
      - is_active
      - name
  securitySchemes:
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Token-based authentication with required prefix "Token"
