openapi: 3.0.3
info:
  title: CaptivateIQ API
  version: v1
  description: The CaptivateIQ REST API (ciq/v1) for managing employees, hierarchies, data worksheets,
    commission plans, payouts, reports, and related sales-compensation resources. Harvested from the public
    developer reference (developers.captivateiq.com).
  x-apievangelist-provenance:
    generated: '2026-07-18'
    method: searched
    source: https://developers.captivateiq.com/reference (per-operation OpenAPI defs merged)
servers:
- url: https://api.captivateiq.com
  description: Production
paths:
  /ciq/v1/attribute-worksheets/:
    get:
      operationId: attribute_worksheets_list
      summary: List Attribute Worksheets
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - in: query
        name: name_contains
        schema:
          type: string
        description: Case-insensitive search to list attribute worksheets whose names contain the given
          string.
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - in: query
        name: period_group_uuid
        schema:
          type: string
          format: uuid
        description: Filter by period group UUID
      - in: query
        name: pk_type
        schema:
          type: string
        description: Filter by attribute worksheet PK type. Valid choices are `employee`, `plan_period_group`,
          or `custom`.
      tags:
      - Attribute Worksheets
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAttributeWorksheetList'
          description: ''
  /ciq/v1/attribute-worksheets/{worksheet_uuid}/columns/{column_uuid}/custom-picklist-options/:
    get:
      operationId: attribute_worksheets_columns_custom_picklist_options_list
      summary: List Custom Picklist Options
      parameters:
      - in: path
        name: column_uuid
        schema:
          type: string
          format: uuid
        description: Column UUID.
        required: true
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - in: path
        name: worksheet_uuid
        schema:
          type: string
          format: uuid
        description: Worksheet UUID.
        required: true
      tags:
      - Attribute Worksheets
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPickListOptionsResponseList'
          description: ''
  /ciq/v1/attribute-worksheets/{worksheet_uuid}/columns/{column_uuid}/custom_picklist_options/import/:
    post:
      operationId: attribute_worksheets_columns_custom_picklist_options_import_create
      summary: Bulk Import Custom Picklist Options
      parameters:
      - in: path
        name: column_uuid
        schema:
          type: string
          format: uuid
        description: Column UUID.
        required: true
      - in: path
        name: worksheet_uuid
        schema:
          type: string
          format: uuid
        description: Worksheet UUID.
        required: true
      tags:
      - Attribute Worksheets
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportCSVRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ImportCSVRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ImportCSVRequest'
        required: true
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Upload'
          description: ''
  /ciq/v1/attribute-worksheets/{worksheet_uuid}/records/:
    get:
      operationId: attribute_worksheets_records_list
      summary: List Records
      parameters:
      - in: query
        name: end_date_after
        schema:
          type: string
          format: date
        description: Filter by end date after a date, inclusive of that date. YYYY-MM-DD format.
      - in: query
        name: end_date_before
        schema:
          type: string
          format: date
        description: Filter by end date before a date, inclusive of that date. YYYY-MM-DD format.
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - in: query
        name: query
        schema:
          type: string
        description: Perform a case-insensitive text search over record data for the given string.
      - in: query
        name: start_date_after
        schema:
          type: string
          format: date
        description: Filter by start dates after a date, inclusive of that date. YYYY-MM-DD format.
      - in: query
        name: start_date_before
        schema:
          type: string
          format: date
        description: Filter by start dates before a date, inclusive of that date. YYYY-MM-DD format.
      - in: path
        name: worksheet_uuid
        schema:
          type: string
          format: uuid
        description: Attribute Worksheet UUID.
        required: true
      tags:
      - Attribute Worksheets
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAttributeRecordList'
          description: ''
  /ciq/v1/attribute-worksheets/{worksheet_uuid}/records/batch/:
    post:
      operationId: attribute_worksheets_records_batch_create
      summary: Batch Update Records
      parameters:
      - in: path
        name: worksheet_uuid
        schema:
          type: string
          format: uuid
        description: Attribute Worksheet UUID.
        required: true
      tags:
      - Attribute Worksheets
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkAttributeRecordsByColumnName'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/BulkAttributeRecordsByColumnName'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/BulkAttributeRecordsByColumnName'
        required: true
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchUpdateRecordsByColumnNameResponse'
          description: ''
  /ciq/v1/audit-logs/:
    get:
      operationId: audit_logs_list
      description: Get a list of all the Audit Logs
      summary: List Audit Logs
      parameters:
      - in: query
        name: email
        schema:
          type: string
          format: email
        description: Filter Audit Logs by user email
      - in: query
        name: end_date
        schema:
          type: string
          format: date
        description: Filter Audit Logs by end date (YYYY-MM-DD format)
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - in: query
        name: start_date
        schema:
          type: string
          format: date
        description: Filter Audit Logs by start date (YYYY-MM-DD format)
      tags:
      - Audit Logs
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAuditLogsList'
          description: ''
  /ciq/v1/dashboards/published-dashboards/:
    get:
      operationId: dashboards_published_dashboards_list
      summary: List Published Dashboards
      tags:
      - Dashboards
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedDashboardList'
          description: ''
  /ciq/v1/dashboards/{dashboard_id}/embedded_share:
    post:
      operationId: dashboards_embedded_share_create
      description: 'This dashboard will be shared with the selected individuals. Once granted access,
        these individuals will be able to see and download all data on this dashboard, including any data
        associated with peers.

        It is not recommended to share sensitive data such as individual commission payouts on dashboards
        unless deemed necessary.

        By using this API, you acknowledge the risks of sharing this dashboard, including any sensitive
        data it may contain.'
      summary: Share Dashboard
      parameters:
      - in: path
        name: dashboard_id
        schema:
          type: number
        description: ID of the dashboard to grant access to
        required: true
      tags:
      - Dashboards
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmbeddedUsersUUID'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EmbeddedUsersUUID'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/EmbeddedUsersUUID'
        required: true
      security:
      - tokenAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedEmbeddedUsersSharedResourceList'
          description: ''
    delete:
      operationId: dashboards_embedded_share_destroy
      summary: Unshare Dashboard
      parameters:
      - in: path
        name: dashboard_id
        schema:
          type: number
        description: ID of the dashboard to remove access from
        required: true
      tags:
      - Dashboards
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedResourcesDelete'
          description: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmbeddedUsersUUID'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EmbeddedUsersUUID'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/EmbeddedUsersUUID'
        required: true
    get:
      operationId: dashboards_embedded_share_list
      summary: List Users With Access
      parameters:
      - in: path
        name: dashboard_id
        schema:
          type: number
        description: Dashboard ID
        required: true
      tags:
      - Dashboards
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedEmbeddedUsersSharedResourceList'
          description: ''
  /ciq/v1/data-workbooks/:
    get:
      operationId: data_workbooks_list
      summary: List Data Workbooks
      parameters:
      - in: query
        name: is_active
        schema:
          type: boolean
        description: '`true` to request only active data workbooks, or `false` to request only inactive.
          Leave blank to see all.'
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - in: query
        name: name_contains
        schema:
          type: string
        description: Case-insensitive search to list data workbooks whose names contain the given string.
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: 'Optional. Which field to use when ordering the results. By default we assume [`name`].
          Available fields for ordering: [`(-)name`]. See the [FAQs](https://developers.captivateiq.com/docs/faqs)
          page for tips.'
        schema:
          type: string
      tags:
      - Data Workbooks
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedDataWorkbookList'
          description: ''
  /ciq/v1/data-workbooks/{id}/:
    get:
      operationId: data_workbooks_retrieve
      summary: Get Data Workbook
      parameters:
      - in: path
        name: id
        schema:
          type: string
          format: uuid
        description: Primary key, a UUID.
        required: true
      tags:
      - Data Workbooks
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataWorkbook'
          description: ''
  /ciq/v1/data-worksheets/:
    get:
      operationId: data_worksheets_list
      summary: List Data Worksheets
      parameters:
      - in: query
        name: data_workbook_ids[]
        schema:
          type: string
          format: uuid
        description: Filter by data workbook UUIDs
        explode: true
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - in: query
        name: name_contains
        schema:
          type: string
        description: Case-insensitive search to list data workbooks whose names contain the given string.
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: 'Optional. Which field to use when ordering the results. By default we assume [`name`].
          Available fields for ordering: [`(-)name`]. See the [FAQs](https://developers.captivateiq.com/docs/faqs)
          page for tips.'
        schema:
          type: string
      - in: query
        name: type
        schema:
          type: string
        description: Filter by worksheet type. Valid choices are `raw` or `derived`.
      tags:
      - Data Worksheets
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedDataWorksheetList'
          description: ''
  /ciq/v1/data-worksheets/{id}/:
    get:
      operationId: data_worksheets_retrieve
      summary: Get Data Worksheet
      parameters:
      - in: path
        name: id
        schema:
          type: string
          format: uuid
        description: Primary key, a UUID.
        required: true
      tags:
      - Data Worksheets
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataWorksheet'
          description: ''
  /ciq/v1/data-worksheets/{worksheet_uuid}/records/:
    post:
      operationId: data_worksheets_records_create
      summary: Create Record
      parameters:
      - in: path
        name: worksheet_uuid
        schema:
          type: string
          format: uuid
        description: Worksheet UUID.
        required: true
      tags:
      - Data Worksheets
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
          application/x-www-form-urlencoded:
            schema:
              type: object
              additionalProperties: {}
          multipart/form-data:
            schema:
              type: object
              additionalProperties: {}
      security:
      - tokenAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Record'
          description: ''
    get:
      operationId: data_worksheets_records_list
      description: 'This endpoint returns only the raw data values present in the worksheet.

        If you experience performance issues, or want to also see derived values, please use the

        [Bulk Export Records](https://developers.captivateiq.com/reference/data_worksheets_records_export_create-1)
        endpoint instead.'
      summary: List Records
      parameters:
      - in: query
        name: created_at_after
        schema:
          type: string
          format: date
        description: Filter by created_at dates after a date, inclusive of that date. YYYY-MM-DD format.
      - in: query
        name: created_at_before
        schema:
          type: string
          format: date
        description: Filter by created_at dates before a date. YYYY-MM-DD format.
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: 'Optional. Which field to use when ordering the results. By default we assume [`created_at`].
          Available fields for ordering: [`(-)created_at`, `(-)updated_at`]. Also accepts column name
          or UUIDs. For worksheets that are bulk upserted it is recommended to use the worksheet Unique
          ID name or UUID to avoid duplicates.'
        schema:
          type: string
      - in: query
        name: query
        schema:
          type: string
        description: Perform a case-insensitive text search over record data for the given string.
      - in: query
        name: query_column
        schema:
          type: string
        description: When provided along with query, search only within the specified column name instead
          of searching all columns.
      - in: query
        name: updated_at_after
        schema:
          type: string
          format: date
        description: Filter by updated_at dates after a date, inclusive of that date. YYYY-MM-DD format.
      - in: query
        name: updated_at_before
        schema:
          type: string
          format: date
        description: Filter by updated_at dates before a date. YYYY-MM-DD format.
      - in: path
        name: worksheet_uuid
        schema:
          type: string
          format: uuid
        description: Worksheet UUID.
        required: true
      tags:
      - Data Worksheets
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedRecordList'
          description: ''
  /ciq/v1/data-worksheets/{worksheet_uuid}/records/batch/:
    post:
      operationId: data_worksheets_records_batch_create
      summary: Batch Update Records
      parameters:
      - in: path
        name: worksheet_uuid
        schema:
          type: string
          format: uuid
        description: Worksheet UUID.
        required: true
      tags:
      - Data Worksheets
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchUpdateRecords'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/BatchUpdateRecords'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/BatchUpdateRecords'
        required: true
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResult'
          description: ''
  /ciq/v1/data-worksheets/{worksheet_uuid}/records/export/:
    post:
      operationId: data_worksheets_records_export_create
      description: 'Export all records as a downloadable CSV file for the given data worksheet. This exports
        both data and

        derived columns.'
      summary: Bulk Export Records
      parameters:
      - in: query
        name: export_format
        schema:
          type: string
          enum:
          - csv
          - json
          default: csv
        description: Format for the records export.
      - in: path
        name: worksheet_uuid
        schema:
          type: string
          format: uuid
        description: Worksheet UUID.
        required: true
      tags:
      - Data Worksheets
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
          description: ''
  /ciq/v1/data-worksheets/{worksheet_uuid}/records/import/:
    post:
      operationId: data_worksheets_records_import_create
      description: 'While the CSV file format is not fully standardized, CaptivateIQ''s implementation
        of CSV parsing will have

        you surround a field''s data with quotation marks in order to allow for commas that may be present
        in the data.


        For example:

        ```

        Column1,Column2

        "Foo, bar",baz

        ```'
      summary: Bulk Import Records
      parameters:
      - in: path
        name: worksheet_uuid
        schema:
          type: string
          format: uuid
        description: Worksheet UUID.
        required: true
      tags:
      - Data Worksheets
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataWorksheetImportCSVRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/DataWorksheetImportCSVRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/DataWorksheetImportCSVRequest'
        required: true
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Upload'
          description: ''
  /ciq/v1/data-worksheets/{worksheet_uuid}/records/import/template/:
    get:
      operationId: data_worksheets_records_import_template_retrieve
      summary: Get Bulk Import Records Template
      parameters:
      - in: path
        name: worksheet_uuid
        schema:
          type: string
          format: uuid
        description: Worksheet UUID.
        required: true
      tags:
      - Data Worksheets
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: string
          description: ''
  /ciq/v1/data-worksheets/{worksheet_uuid}/records/{unique_id}/:
    delete:
      operationId: data_worksheets_records_destroy
      summary: Delete Record
      parameters:
      - in: path
        name: unique_id
        schema:
          type: string
        description: The unique ID column value of a record within the worksheet `worksheet_uuid`.
        required: true
      - in: path
        name: worksheet_uuid
        schema:
          type: string
          format: uuid
        description: Worksheet UUID.
        required: true
      tags:
      - Data Worksheets
      security:
      - tokenAuth: []
      responses:
        '204':
          description: No response body
    get:
      operationId: data_worksheets_records_retrieve
      summary: Get Record
      parameters:
      - in: path
        name: unique_id
        schema:
          type: string
        description: The unique ID column value of a record within the worksheet `worksheet_uuid`.
        required: true
      - in: path
        name: worksheet_uuid
        schema:
          type: string
          format: uuid
        description: Worksheet UUID.
        required: true
      tags:
      - Data Worksheets
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Record'
          description: ''
    put:
      operationId: data_worksheets_records_update
      summary: Update Record
      parameters:
      - in: path
        name: unique_id
        schema:
          type: string
        description: The unique ID column value of a record within the worksheet `worksheet_uuid`.
        required: true
      - in: path
        name: worksheet_uuid
        schema:
          type: string
          format: uuid
        description: Worksheet UUID.
        required: true
      tags:
      - Data Worksheets
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
          application/x-www-form-urlencoded:
            schema:
              type: object
              additionalProperties: {}
          multipart/form-data:
            schema:
              type: object
              additionalProperties: {}
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Record'
          description: ''
  /ciq/v1/employee-assumptions/:
    post:
      operationId: employee_assumptions_create
      summary: Create Employee Assumption
      tags:
      - Employee Assumptions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeAssumptionCreate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EmployeeAssumptionCreate'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/EmployeeAssumptionCreate'
        required: true
      security:
      - tokenAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeAssumption'
          description: ''
    get:
      operationId: employee_assumptions_list
      summary: List Employee Assumptions
      parameters:
      - in: query
        name: employee_id
        schema:
          type: string
        description: Filter by your unique identifier for the employee within your organization
      - in: query
        name: end_date_after
        schema:
          type: string
          format: date
        description: Filter by end date after a date, inclusive of that date. YYYY-MM-DD format.
      - in: query
        name: end_date_before
        schema:
          type: string
          format: date
        description: Filter by end date before a date, inclusive of that date. YYYY-MM-DD format.
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: 'Optional. Which field to use when ordering the results. By default we assume [`employee_id`].
          Available fields for ordering: [`(-)employee_id`, `(-)start_date`, `(-)end_date`, `(-)employee_first_name`,
          `(-)employee_last_name`]. See the [FAQs](https://developers.captivateiq.com/docs/faqs) page
          for tips.'
        schema:
          type: string
      - in: query
        name: period_group_ids[]
        schema:
          type: string
          format: uuid
        description: Filter by period group UUIDs
        explode: true
      - in: query
        name: plan_ids[]
        schema:
          type: string
          format: uuid
        description: Filter by plan UUIDs
        explode: true
      - in: query
        name: query
        schema:
          type: string
        description: Perform a case-insensitive text search over the                     record display
          value for the given string.
      - in: query
        name: start_date_after
        schema:
          type: string
          format: date
        description: Filter by start dates after a date, inclusive of that date. YYYY-MM-DD format.
      - in: query
        name: start_date_before
        schema:
          type: string
          format: date
        description: Filter by start dates before a date, inclusive of that date. YYYY-MM-DD format.
      tags:
      - Employee Assumptions
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedEmployeeAssumptionList'
          description: ''
  /ciq/v1/employee-assumptions/batch/:
    post:
      operationId: employee_assumptions_batch_create
      description: 'Batch create, update, and delete employee assumptions.

        All employee assumptions in the request must belong to the same period group.'
      summary: Batch Update Employee Assumptions
      tags:
      - Employee Assumptions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchUpdateEmployeeAssumptions'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/BatchUpdateEmployeeAssumptions'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/BatchUpdateEmployeeAssumptions'
        required: true
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAPIBatchResult'
          description: ''
  /ciq/v1/employee-assumptions/{id}/:
    delete:
      operationId: employee_assumptions_destroy
      summary: Delete Employee Assumption
      parameters:
      - in: path
        name: id
        schema:
          type: string
          format: uuid
        description: Primary key, a UUID.
        required: true
      tags:
      - Employee Assumptions
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAPIDelete'
          description: ''
    get:
      operationId: employee_assumptions_retrieve
      summary: Get Employee Assumption
      parameters:
      - in: path
        name: id
        schema:
          type: string
          format: uuid
        description: Primary key, a UUID.
        required: true
      tags:
      - Employee Assumptions
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeAssumption'
          description: ''
    put:
      operationId: employee_assumptions_update
      summary: Update Employee Assumption
      parameters:
      - in: path
        name: id
        schema:
          type: string
          format: uuid
        description: Primary key, a UUID.
        required: true
      tags:
      - Employee Assumptions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeAssumptionUpdate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EmployeeAssumptionUpdate'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/EmployeeAssumptionUpdate'
        required: true
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeAssumption'
          description: ''
  /ciq/v1/employee-visibilities/:
    post:
      operationId: employee_visibilities_create
      summary: Create Employee Visibility
      tags:
      - Employees
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeVisibilityCreateUpdate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EmployeeVisibilityCreateUpdate'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/EmployeeVisibilityCreateUpdate'
        required: true
      security:
      - tokenAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeVisibility'
          description: ''
    get:
      operationId: employee_visibilities_list
      description: Hierarchy visibilities include an extra field, `managing_employee` which contains the
        UUID of the managing employee.
      summary: List Employee Visibilities
      parameters:
      - in: query
        name: hierarchy_group_name
        schema:
          type: string
        description: Filter visibilities by a hierarchy group name.
      - in: query
        name: hierarchy_id
        schema:
          type: string
          format: uuid
        description: Filter visibilities by hierarchy id.
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - in: query
        name: ordering
        schema:
          type: string
        description: Use `start_date` or `end_date` to order by start or end date, and `-start_date` or
          `-end_date` to reverse them respectively. Defaults to `start_date`.
      - in: query
        name: user_id
        schema:
          type: string
          format: uuid
        description: Filter visibilities by user_id.
      - in: query
        name: visible_employee_id
        schema:
          type: string
          format: uuid
        description: Filter visibilities by an employee_id.
      tags:
      - Employees
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedEmployeeVisibilityList'
          description: ''
  /ciq/v1/employee-visibilities/{id}/:
    delete:
      operationId: employee_visibilities_destroy
      summary: Delete Employee Visibility
      parameters:
      - in: path
        name: id
        schema:
          type: string
          format: uuid
        description: Primary key, a UUID.
        required: true
      tags:
      - Employees
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAPIDelete'
          description: ''
    get:
      operationId: employee_visibilities_retrieve
      description: 'Retrieves Employee Visibilities with the `object: "employee visibility"` field. To
        retrieve Hierarchies, see the Hierarchies documentation.'
      summary: Get Employee Visibility
      parameters:
      - in: path
        name: id
        schema:
          type: string
          format: uuid
        description: Primary key, a UUID.
        required: true
      tags:
      - Employees
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeVisibility'
          description: ''
    put:
      operationId: employee_visibilities_update
      summary: Update Employee Visibility
      parameters:
      - in: path
        name: id
        schema:
          type: string
          format: uuid
        description: Primary key, a UUID.
        required: true
      tags:
      - Employees
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeVisibilityCreateUpdate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EmployeeVisibilityCreateUpdate'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/EmployeeVisibilityCreateUpdate'
        required: true
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeVisibility'
          description: ''
  /ciq/v1/employees/:
    post:
      operationId: employees_create
      summary: Create Employee
      tags:
      - Employees
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeCreate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EmployeeCreate'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/EmployeeCreate'
        required: true
      security:
      - tokenAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Employee'
          description: ''
    get:
      operationId: employees_list
      summary: List Employees
      parameters:
      - in: query
        name: employee_id
        schema:
          type: string
        description: Filter by employee id
      - in: query
        name: first_name
        schema:
          type: string
        description: Filter by first name
      - in: query
        name: last_name
        schema:
          type: string
        description: Filter by last name
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: 'Optional. Which field to use when ordering the results. By default we assume [`employee_id`].
          Available fields for ordering: [`(-)employee_id`, `(-)first_name`, `(-)last_name`]. See the
          [FAQs](https://developers.captivateiq.com/docs/faqs) page for tips.'
        schema:
          type: string
      tags:
      - Employees
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedEmployeeList'
          description: ''
  /ciq/v1/employees/{id}/:
    delete:
      operationId: employees_destroy
      summary: Delete Employee
      parameters:
      - in: path
        name: id
        schema:
          type: string
          format: uuid
        description: Primary key, a UUID.
        required: true
      tags:
      - Employees
      security:
      - tokenAuth: []
      responses:
        '204':
          description: No response body
    get:
      operationId: employees_retrieve
      summary: Get Employee
      parameters:
      - in: path
        name: id
        schema:
          type: string
          format: uuid
        description: Primary key, a UUID.
        required: true
      tags:
      - Employees
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Employee'
          description: ''
    put:
      operationId: employees_update
      summary: Update Employee
      parameters:
      - in: path
        name: id
        schema:
          type: string
          format: uuid
        description: Primary key, a UUID.
        required: true
      tags:
      - Employees
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeUpdate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EmployeeUpdate'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/EmployeeUpdate'
        required: true
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Employee'
          description: ''
  /ciq/v1/hierarchy-groups/:
    get:
      operationId: hierarchy_groups_list
      summary: List Hierarchy Groups
      parameters:
      - in: query
        name: is_default
        schema:
          type: boolean
        description: Filter by hierarchy group's default status
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - in: query
        name: name_contains
        schema:
          type: string
        description: Filter by fuzzy matching the hierarchy group's name
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: 'Optional. Which field to use when ordering the results. By default we assume [`created_at`].
          Available fields for ordering: [`(-)name`, `(-)created_at`, `(-)updated_at`]. See the [FAQs](https://developers.captivateiq.com/docs/faqs)
          page for tips.'
        schema:
          type: string
      tags:
      - Hierarchies
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedHierarchyGroupList'
          description: ''
  /ciq/v1/hierarchy-groups/{hierarchy_group_uuid}/hierarchies/:
    post:
      operationId: hierarchy_groups_hierarchies_create
      summary: Create Hierarchy
      parameters:
      - in: path
        name: hierarchy_group_uuid
        schema:
          type: string
          format: uuid
        description: Hierarchy Group UUID.
        required: true
      tags:
      - Hierarchies
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HierarchyCreate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/HierarchyCreate'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/HierarchyCreate'
        required: true
      security:
      - tokenAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hierarchy'
          description: ''
    get:
      operationId: hierarchy_groups_hierarchies_list
      summary: List Hierarchies
      parameters:
      - in: path
        name: hierarchy_group_uuid
        schema:
          type: string
          format: uuid
        description: Hierarchy Group UUID.
        required: true
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: 'Optional. Which field to use when ordering the results. By default we assume [`start_date`].
          Available fields for ordering: [`(-)start_date`, `(-)end_date`, `(-)created_at`, `(-)updated_at`].
          See the [FAQs](https://developers.captivateiq.com/docs/faqs) page for tips.'
        schema:
          type: string
      tags:
      - Hierarchies
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedHierarchyList'
          description: ''
  /ciq/v1/hierarchy-groups/{hierarchy_group_uuid}/hierarchies/batch/:
    post:
      operationId: hierarchy_groups_hierarchies_batch_create
      description: Batch create, update, and delete hierarchies. Only manual hierarchy groups are supported
        at this time.
      summary: Batch Update Hierarchies
      parameters:
      - in: path
        name: hierarchy_group_uuid
        schema:
          type: string
          format: uuid
        description: Hierarchy group UUID. Only manual hierarchy groups are supported at this time.
        required: true
      tags:
      - Hierarchies
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchUpdateHierarchies'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/BatchUpdateHierarchies'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/BatchUpdateHierarchies'
        required: true
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAPIBatchResult'
          description: ''
  /ciq/v1/hierarchy-groups/{hierarchy_group_uuid}/hierarchies/import/:
    post:
      operationId: hierarchy_groups_hierarchies_import_create
      description: 'While the CSV file format is not fully standardized, CaptivateIQ''s implementation
        of CSV parsing will have

        you surround a field''s data with quotation marks in order to allow for commas that may be present
        in the data.


        For example:

        ```

        Column1,Column2

        "Foo, bar",baz

        ```'
      summary: Bulk Import Hierarchies
      parameters:
      - in: path
        name: hierarchy_group_uuid
        schema:
          type: string
          format: uuid
        description: Hierarchy Group UUID.
        required: true
      tags:
      - Hierarchies
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportCSVRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ImportCSVRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ImportCSVRequest'
        required: true
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Upload'
          description: ''
  /ciq/v1/hierarchy-groups/{hierarchy_group_uuid}/hierarchies/{hierarchy_uuid}/:
    delete:
      operationId: hierarchy_groups_hierarchies_destroy
      summary: Delete Hierarchy
      parameters:
      - in: path
        name: hierarchy_group_uuid
        schema:
          type: string
          format: uuid
        description: Hierarchy Group UUID.
        required: true
      - in: path
        name: hierarchy_uuid
        schema:
          type: string
          format: uuid
        description: The UUID of an individual hierarchy within hierarchy_group `hierarchy_group_uuid`.
        required: true
      tags:
      - Hierarchies
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAPIDelete'
          description: ''
    get:
      operationId: hierarchy_groups_hierarchies_retrieve
      summary: Get Hierarchy
      parameters:
      - in: path
        name: hierarchy_group_uuid
        schema:
          type: string
          format: uuid
        description: Hierarchy Group UUID.
        required: true
      - in: path
        name: hierarchy_uuid
        schema:
          type: string
          format: uuid
        description: The UUID of an individual hierarchy within hierarchy_group `hierarchy_group_uuid`.
        required: true
      tags:
      - Hierarchies
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hierarchy'
          description: ''
    put:
      operationId: hierarchy_groups_hierarchies_update
      summary: Update Hierarchy
      parameters:
      - in: path
        name: hierarchy_group_uuid
        schema:
          type: string
          format: uuid
        description: Hierarchy Group UUID.
        required: true
      - in: path
        name: hierarchy_uuid
        schema:
          type: string
          format: uuid
        description: The UUID of an individual hierarchy within hierarchy_group `hierarchy_group_uuid`.
        required: true
      tags:
      - Hierarchies
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HierarchyUpdate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/HierarchyUpdate'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/HierarchyUpdate'
        required: true
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hierarchy'
          description: ''
  /ciq/v1/hierarchy-groups/{id}/:
    get:
      operationId: hierarchy_groups_retrieve
      summary: Get Hierarchy Group
      parameters:
      - in: path
        name: id
        schema:
          type: string
          format: uuid
        description: Primary key, a UUID.
        required: true
      tags:
      - Hierarchies
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HierarchyGroup'
          description: ''
  /ciq/v1/job-aggregations/:
    get:
      operationId: job_aggregations_list
      description: 'List details of job aggregations for the organization. Defaults to a 30-day lookback
        window;

        pass `start_date` to override.'
      summary: List Job Aggregation
      parameters:
      - in: query
        name: job_status
        schema:
          type: string
          enum:
          - FAILURE
          - PENDING
          - RETRY
          - REVOKED
          - STARTED
          - SUCCESS
        description: 'Filter by job status: PENDING, STARTED, SUCCESS, FAILURE, RETRY, or REVOKED.'
      - in: query
        name: job_type
        schema:
          type: string
        description: Optional. Filter by specific job type, eg. payouts.jobs.process_payout.
      - in: query
        name: offset
        schema:
          type: integer
        description: The initial index from which to return the results.
      - in: query
        name: start_date
        schema:
          type: string
          format: date
        description: Optional. Filter aggregations created on or after this date (YYYY-MM-DD). Defaults
          to 30 days ago.
      tags:
      - Jobs
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/JobAggregation'
          description: ''
  /ciq/v1/job-aggregations/{job_aggregation_id}/:
    get:
      operationId: job_aggregations_retrieve
      summary: Get Job Aggregation
      parameters:
      - in: path
        name: job_aggregation_id
        schema:
          type: string
        required: true
      tags:
      - Jobs
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobAggregation'
          description: ''
  /ciq/v1/jobs/:
    get:
      operationId: jobs_list
      summary: List Jobs
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: 'Optional. Which field to use when ordering the results. By default we assume [`-created_at`].
          Available fields for ordering: [`(-)created_at`, `(-)updated_at`]. See the [FAQs](https://developers.captivateiq.com/docs/faqs)
          page for tips.'
        schema:
          type: string
      - in: query
        name: start_date
        schema:
          type: string
          format: date
        description: Optional. Filter jobs created on or after this date (YYYY-MM-DD).
      tags:
      - Jobs
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedJobList'
          description: ''
  /ciq/v1/jobs/{id}/:
    get:
      operationId: jobs_retrieve
      summary: Get Job
      parameters:
      - in: path
        name: id
        schema:
          type: string
          format: uuid
        description: Primary key, a UUID.
        required: true
      tags:
      - Jobs
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
          description: ''
  /ciq/v1/me/organizations:
    get:
      operationId: me_organizations_list
      summary: List Organizations
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: 'Optional. Which field to use when ordering the results. By default we assume [`created_at`].
          Available fields for ordering: [`(-)name`, `(-)created_at`, `(-)updated_at`]. See the [FAQs](https://developers.captivateiq.com/docs/faqs)
          page for tips.'
        schema:
          type: string
      tags:
      - Metadata
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedOrganizationList'
          description: ''
  /ciq/v1/payouts/adjustments/export/:
    post:
      operationId: payouts_adjustments_export_create
      description: Export payout adjustments
      summary: Export Payout Adjustments
      tags:
      - Payouts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayoutSnapshotExportRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PayoutSnapshotExportRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PayoutSnapshotExportRequest'
        required: true
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
          description: ''
  /ciq/v1/payouts/employee-assumptions/export/:
    post:
      operationId: payouts_employee_assumptions_export_create
      description: Export payout snapshot related employee assumptions
      summary: Export Employee Assumptions
      tags:
      - Payouts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayoutSnapshotExportRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PayoutSnapshotExportRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PayoutSnapshotExportRequest'
        required: true
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
          description: ''
  /ciq/v1/payouts/payout-dates/:
    get:
      operationId: payouts_payout_dates_list
      description: List payout snapshot related payout dates
      summary: List Payout Dates
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: 'Optional. Which field to use when ordering the results. By default we assume [`-payout_date`].
          Available fields for ordering: [`(-)payout_date`]. See the [FAQs](https://developers.captivateiq.com/docs/faqs)
          page for tips.'
        schema:
          type: string
      - in: query
        name: period_group_ids[]
        schema:
          type: string
          format: uuid
        description: Filter by period group UUIDs
        explode: true
      - in: query
        name: plan_ids[]
        schema:
          type: string
          format: uuid
        description: Filter by commission plan UUIDs
        explode: true
      tags:
      - Payouts
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPayoutDateList'
          description: ''
  /ciq/v1/payouts/payout-summaries/export/:
    post:
      operationId: payouts_payout_summaries_export_create
      description: Export payout snapshot related payout summaries
      summary: Export Payout Summaries
      tags:
      - Payouts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayoutSnapshotExportRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PayoutSnapshotExportRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PayoutSnapshotExportRequest'
        required: true
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
          description: ''
  /ciq/v1/payouts/period-groups/:
    get:
      operationId: payouts_period_groups_list
      description: List payout snapshot related period groups
      summary: List Period Groups
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: 'Optional. Which field to use when ordering the results. By default we assume [`period_group_name`].
          Available fields for ordering: [`(-)period_group_name`]. See the [FAQs](https://developers.captivateiq.com/docs/faqs)
          page for tips.'
        schema:
          type: string
      - in: query
        name: payout_dates[]
        schema:
          type: string
          format: date
        description: Filter by payout dates (YYYY-MM-DD format)
        explode: true
      - in: query
        name: plan_ids[]
        schema:
          type: string
          format: uuid
        description: Filter by commission plan UUIDs
        explode: true
      tags:
      - Payouts
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPeriodGroupPayoutList'
          description: ''
  /ciq/v1/payouts/plans/:
    get:
      operationId: payouts_plans_list
      description: List Commission Plans related to Snapshots
      summary: List Commission Plans
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: 'Optional. Which field to use when ordering the results. By default we assume [`plan_name`].
          Available fields for ordering: [`(-)plan_name`]. See the [FAQs](https://developers.captivateiq.com/docs/faqs)
          page for tips.'
        schema:
          type: string
      - in: query
        name: payout_dates[]
        schema:
          type: string
          format: date
        description: Filter by payout dates (YYYY-MM-DD format)
        explode: true
      - in: query
        name: period_group_ids[]
        schema:
          type: string
          format: uuid
        description: Filter by period group UUIDs
        explode: true
      tags:
      - Payouts
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPlanPayoutList'
          description: ''
  /ciq/v1/payouts/worksheets/:
    get:
      operationId: payouts_worksheets_list
      description: List payout snapshot related calculation workbook worksheets
      summary: List Worksheets
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: 'Optional. Which field to use when ordering the results. By default we assume [`worksheet_name`].
          Available fields for ordering: [`(-)worksheet_name`]. See the [FAQs](https://developers.captivateiq.com/docs/faqs)
          page for tips.'
        schema:
          type: string
      - in: query
        name: payout_dates[]
        schema:
          type: string
          format: date
        description: Filter by payout dates (YYYY-MM-DD format)
        explode: true
      - in: query
        name: period_group_ids[]
        schema:
          type: string
          format: uuid
        description: Filter by period group UUIDs
        explode: true
      - in: query
        name: plan_ids[]
        schema:
          type: string
          format: uuid
        description: Filter by commission plan UUIDs
        explode: true
      tags:
      - Payouts
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedWorksheetList'
          description: ''
  /ciq/v1/payouts/worksheets/export/:
    post:
      operationId: payouts_worksheets_export_create
      description: Export payout snapshot related calculation workbook worksheets
      summary: Export Worksheet
      tags:
      - Payouts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorksheetSnapshotExportRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/WorksheetSnapshotExportRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/WorksheetSnapshotExportRequest'
        required: true
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
          description: ''
  /ciq/v1/period-groups/:
    get:
      operationId: period_groups_list
      summary: List Period Groups
      parameters:
      - in: query
        name: is_active
        schema:
          type: boolean
        description: '`true` to request only active period groups, or `false` to request only inactive.
          Leave blank to see all.'
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: 'Optional. Which field to use when ordering the results. By default we assume [`name`].
          Available fields for ordering: [`(-)name`, `(-)is_active`]. See the [FAQs](https://developers.captivateiq.com/docs/faqs)
          page for tips.'
        schema:
          type: string
      - in: query
        name: payout_date_ids[]
        schema:
          type: string
          format: uuid
        description: Filter by payout date UUID
        explode: true
      - in: query
        name: plan_ids[]
        schema:
          type: string
          format: uuid
        description: Filter by plan UUIDs. Each UUID should be put in its own `plan_ids[]` parameter.
        explode: true
      tags:
      - Commission Plans
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPeriodGroupList'
          description: ''
  /ciq/v1/period-groups/{id}/:
    get:
      operationId: period_groups_retrieve
      summary: Get Period Group
      parameters:
      - in: path
        name: id
        schema:
          type: string
          format: uuid
        description: Primary key, a UUID.
        required: true
      tags:
      - Commission Plans
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PeriodGroup'
          description: ''
  /ciq/v1/plans/:
    get:
      operationId: plans_list
      summary: List Commission Plans
      parameters:
      - in: query
        name: is_active
        schema:
          type: boolean
        description: '`true` to request only active plans, or `false` to request only inactive. Leave
          blank to see all.'
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: 'Optional. Which field to use when ordering the results. By default we assume [`name`].
          Available fields for ordering: [`(-)name`, `(-)is_active`, `(-)created_at`, `(-)updated_at`].
          See the [FAQs](https://developers.captivateiq.com/docs/faqs) page for tips.'
        schema:
          type: string
      - in: query
        name: payout_date_ids[]
        schema:
          type: string
          format: uuid
        description: Filter by payout date UUID
        explode: true
      - in: query
        name: period_group_ids[]
        schema:
          type: string
          format: uuid
        description: Filter by period group UUID
        explode: true
      tags:
      - Commission Plans
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPlanList'
          description: ''
  /ciq/v1/plans/{id}/:
    get:
      operationId: plans_retrieve
      summary: Get Commission Plan
      parameters:
      - in: path
        name: id
        schema:
          type: string
          format: uuid
        description: Primary key, a UUID.
        required: true
      tags:
      - Commission Plans
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plan'
          description: ''
  /ciq/v1/plans/{plan_uuid}/period-groups/{period_group_uuid}/employee-assumptions/export/:
    post:
      operationId: plans_period_groups_employee_assumptions_export_create
      description: Export employee assumptions for a specific period group as CSV
      summary: Export Employee Assumptions for Period Group
      parameters:
      - in: path
        name: period_group_uuid
        schema:
          type: string
          format: uuid
        required: true
      - in: path
        name: plan_uuid
        schema:
          type: string
          format: uuid
        required: true
      tags:
      - Commission Plans
      security:
      - tokenAuth: []
      responses:
        '200':
          description: No response body
  /ciq/v1/report-models/:
    get:
      operationId: report_models_list
      summary: List Report Models
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - in: query
        name: name
        schema:
          type: string
        description: Filter Report Models by name
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: 'Optional. Which field to use when ordering the results. By default we assume [`created_at`].
          Available fields for ordering: [`(-)name`, `(-)created_at`]. See the [FAQs](https://developers.captivateiq.com/docs/faqs)
          page for tips.'
        schema:
          type: string
      - in: query
        name: period_date
        schema:
          type: string
          format: date
        description: Filter Report Models by period date (YYYY-MM-DD format)
      - in: query
        name: type
        schema:
          type: string
          enum:
          - time_series
          - visualization
        description: Filter Report Models by type. Defaults to 'time_series'.
      tags:
      - Report Models
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedListReportModelOpenAPIList'
          description: ''
  /ciq/v1/report-models/export-worksheet/:
    post:
      operationId: report_models_export_worksheet_create
      description: Export report output worksheet
      summary: Export Report Model Worksheet
      tags:
      - Report Models
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportOutputExportRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ReportOutputExportRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ReportOutputExportRequest'
        required: true
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
          description: ''
  /ciq/v1/report-models/exports:
    get:
      operationId: report_models_exports_list
      summary: List Report Models Exports
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - in: query
        name: locked_status
        schema:
          type: boolean
        description: Filter Report Models by locked status
      - in: query
        name: name
        schema:
          type: string
        description: Filter Report Models Exports by name
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: 'Optional. Which field to use when ordering the results. By default we assume [`-period_date`].
          Available fields for ordering: [`(-)name`, `(-)created_at`, `(-)period_date`]. See the [FAQs](https://developers.captivateiq.com/docs/faqs)
          page for tips.'
        schema:
          type: string
      - in: query
        name: period_date
        schema:
          type: string
          format: date
        description: Filter Report Models Exports by period date (YYYY-MM-DD format)
      tags:
      - Report Models
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedListReportOutputOpenAPIList'
          description: ''
  /ciq/v1/report-models/{id}/:
    get:
      operationId: report_models_retrieve
      summary: Retrieve Report Model
      parameters:
      - in: path
        name: id
        schema:
          type: string
          format: uuid
        description: Primary key, a UUID.
        required: true
      tags:
      - Report Models
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DetailReportModelOpenAPI'
          description: ''
  /ciq/v1/report-models/{report_model_uuid}/records/export/:
    post:
      operationId: report_models_records_export_create
      summary: Export Report Model Worksheet Records
      parameters:
      - in: path
        name: report_model_uuid
        schema:
          type: string
          format: uuid
        description: Report Model UUID.
        required: true
      tags:
      - Report Models
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportModelRecordsExportRequest'
            examples:
              ExportWithFilters:
                value:
                  worksheet_uuid: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                  column_filters:
                  - id: col-uuid-1
                    op: eq
                    term: value
                  sort:
                    order:
                    - - col-uuid-1
                      - 1
                  query: search term
                summary: Export with filters
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ReportModelRecordsExportRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ReportModelRecordsExportRequest'
        required: true
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
          description: ''
  /ciq/v1/transformation-worksheets/:
    get:
      operationId: transformation_worksheets_list
      summary: List Transformation Worksheets
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: 'Optional. Which field to use when ordering the results. By default we assume [`name`].
          Available fields for ordering: [`(-)name`]. See the [FAQs](https://developers.captivateiq.com/docs/faqs)
          page for tips.'
        schema:
          type: string
      tags:
      - Transformation Worksheets
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedTransformationWorksheetList'
          description: ''
  /ciq/v1/transformation-worksheets/{id}/:
    get:
      operationId: transformation_worksheets_retrieve
      summary: Get Transformation Worksheet
      parameters:
      - in: path
        name: id
        schema:
          type: string
          format: uuid
        description: Primary key, a UUID.
        required: true
      tags:
      - Transformation Worksheets
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransformationWorksheet'
          description: ''
  /ciq/v1/transformation-worksheets/{worksheet_uuid}/records/export/:
    post:
      operationId: transformation_worksheets_records_export_create
      summary: Bulk Export Records
      parameters:
      - in: query
        name: export_format
        schema:
          type: string
          enum:
          - csv
          - json
          default: csv
        description: Format for the records export.
      - in: path
        name: worksheet_uuid
        schema:
          type: string
          format: uuid
        description: Worksheet UUID.
        required: true
      tags:
      - Transformation Worksheets
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
          description: ''
  /ciq/v1/uploads/:
    get:
      operationId: uploads_list
      summary: List Uploads
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: 'Optional. Which field to use when ordering the results. By default we assume [`-created_at`].
          Available fields for ordering: [`(-)created_at`, `(-)updated_at`]. See the [FAQs](https://developers.captivateiq.com/docs/faqs)
          page for tips.'
        schema:
          type: string
      tags:
      - Uploads
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedUploadList'
          description: ''
  /ciq/v1/uploads/{id}/:
    get:
      operationId: uploads_retrieve
      summary: Get Upload
      parameters:
      - in: path
        name: id
        schema:
          type: string
          format: uuid
        description: Primary key, a UUID.
        required: true
      tags:
      - Uploads
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Upload'
          description: ''
  /ciq/v1/uploads/{id}/process/:
    post:
      operationId: uploads_process_create
      summary: Process Upload
      parameters:
      - in: path
        name: id
        schema:
          type: string
          format: uuid
        description: Primary key, a UUID.
        required: true
      tags:
      - Uploads
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProcessUploadRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ProcessUploadRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ProcessUploadRequest'
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
          description: ''
  /ciq/v1/users/:
    post:
      operationId: users_create
      summary: Create User
      tags:
      - Users
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserCreate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UserCreate'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UserCreate'
        required: true
      security:
      - tokenAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: ''
    get:
      operationId: users_list
      summary: List Users
      parameters:
      - in: query
        name: email
        schema:
          type: string
          format: email
        description: Filter by email address
      - in: query
        name: first_name
        schema:
          type: string
        description: Filter by first name
      - in: query
        name: last_name
        schema:
          type: string
        description: Filter by last name
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: 'Optional. Which field to use when ordering the results. By default we assume [`created_at`].
          Available fields for ordering: [`(-)created_at`, `(-)email`, `(-)first_name`, `(-)last_name`].
          See the [FAQs](https://developers.captivateiq.com/docs/faqs) page for tips.'
        schema:
          type: string
      tags:
      - Users
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedUserList'
          description: ''
  /ciq/v1/users/{id}/:
    delete:
      operationId: users_destroy
      description: If an individual is no longer with a company, it's recommended that the user be deactivated
        and not deleted.
      summary: Delete User
      parameters:
      - in: path
        name: id
        schema:
          type: string
          format: uuid
        description: Primary key, a UUID.
        required: true
      tags:
      - Users
      security:
      - tokenAuth: []
      responses:
        '204':
          description: No response body
    get:
      operationId: users_retrieve
      summary: Get User
      parameters:
      - in: path
        name: id
        schema:
          type: string
          format: uuid
        description: Primary key, a UUID.
        required: true
      tags:
      - Users
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: ''
    put:
      operationId: users_update
      summary: Update User
      parameters:
      - in: path
        name: id
        schema:
          type: string
          format: uuid
        description: Primary key, a UUID.
        required: true
      tags:
      - Users
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUpdate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UserUpdate'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UserUpdate'
        required: true
      security:
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: ''
components:
  schemas:
    AssignmentTypeEnum:
      enum:
      - automatic
      - manual
      type: string
    AttributeRecord:
      type: object
      properties:
        object:
          type: string
          readOnly: true
          default: attribute_record
          description: Optional. Object type name.
        id:
          type: string
          readOnly: true
          description: Primary key, a UUID.
        start_date:
          type: string
          format: date
          description: The start date of the Employee Assumption
        end_date:
          type: string
          format: date
          description: The end date of the Employee Assumption
        data:
          type: object
          additionalProperties: {}
          readOnly: true
      required:
      - end_date
      - start_date
    AttributeWorksheet:
      type: object
      properties:
        object:
          type: string
          readOnly: true
          default: attribute_worksheet
          description: Object type.
        id:
          type: string
          readOnly: true
          description: Primary key, a UUID.
        name:
          type: string
          maxLength: 255
        description:
          type: string
          nullable: true
        type:
          allOf:
          - $ref: '#/components/schemas/TypeEnum'
          readOnly: true
        workbook:
          type: string
          format: uuid
          readOnly: true
          description: Worksheet's associated workbook UUID.
        columns:
          type: array
          items:
            $ref: '#/components/schemas/Column'
          readOnly: true
          description: Worksheet columns.
        is_hidden:
          type: boolean
          readOnly: true
          description: Whether or not the worksheet is hidden.
        pk_type:
          type: string
          readOnly: true
          description: Primary key type.
        pk_column_uuids:
          type: array
          items:
            type: string
            format: uuid
          readOnly: true
          description: Primary key column UUIDs.
        created_at:
          type: string
          format: date-time
          readOnly: true
          description: Created at.
        updated_at:
          type: string
          format: date-time
          readOnly: true
          description: Last updated at.
        columns_width:
          readOnly: true
          description: Column widths for the worksheet.
        records_per_page:
          type: integer
          readOnly: true
          description: Number of records on a page.
      required:
      - name
    AuditLogs:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
          description: Primary key, a UUID.
        object:
          type: string
          readOnly: true
          default: audit_log
        organization_id:
          type: string
          format: uuid
          readOnly: true
          description: Organization ID.
        organization_name:
          type: string
          readOnly: true
          description: Organization Name.
        user_id:
          type: string
          readOnly: true
          description: Effective User ID. This field will only differ from logged_in_user_id in the case
            of impersonation.
        user_name:
          type: string
          readOnly: true
          description: Effective Username. This field will only differ from logged_in_user_name in the
            case of impersonation.
        user_email:
          type: string
          format: email
          readOnly: true
          description: Effective User email. This field will only differ from logged_in_user_email in
            the case of impersonation.
        logged_in_user_id:
          type: string
          readOnly: true
          description: ID of the logged in User.
        logged_in_user_name:
          type: string
          readOnly: true
          description: 'Username of the logged in User. '
        logged_in_user_email:
          type: string
          format: email
          readOnly: true
          description: 'User email of the logged in User. '
        ip_address:
          type: string
          readOnly: true
          description: IP Address of the logged in user.
        created_at:
          type: string
          format: date-time
          readOnly: true
          description: Date and time of creation.
        event_type:
          type: string
          readOnly: true
          description: Event type e.g. create, delete, update.
        version:
          type: integer
          readOnly: true
          description: Version of the Audit Log API.
        data:
          readOnly: true
          description: Data that has been changed in this Audit Log.
        object_id:
          type: string
          readOnly: true
          description: ID of the underlying object e.g. Worksheet ID, column ID.
        object_name:
          type: string
          readOnly: true
          description: Value of the underlying object name. e.g. Column name, Worksheet name, depending
            on object_type.
        object_type:
          type: string
          readOnly: true
          description: Type of object associated with this Audit Log. e.g. column, worksheet, workbook,
            record.
        parent_objects:
          type: array
          items: {}
          readOnly: true
          description: This field contains information about parent objects for the audit log. This field
            will contain object_id, object_name and object_type fields for each parent object. For example
            when a column is changed the parent objects of the column change audit log will be the containing
            worksheet and workbook.
    BatchResult:
      type: object
      properties:
        created:
          type: array
          items:
            type: string
          description: Unique IDs of the created records.
        updated:
          type: array
          items:
            type: string
          description: Unique IDs of the updated records.
        deleted:
          type: array
          items:
            type: string
          description: Unique IDs of the deleted records.
      required:
      - created
      - deleted
      - updated
    BatchUpdateEmployeeAssumptions:
      type: object
      properties:
        upserts:
          type: array
          items:
            $ref: '#/components/schemas/EmployeeAssumptionUpsert'
          description: Employee assumptions to create or update.
          maxItems: 1000
        deletes:
          type: array
          items:
            type: string
            format: uuid
          description: Employee assumptions IDs to delete.
          maxItems: 1000
      required:
      - deletes
      - upserts
    BatchUpdateHierarchies:
      type: object
      properties:
        upserts:
          type: array
          items:
            $ref: '#/components/schemas/HierarchyUpsert'
          description: Hierarchies to create or update
          maxItems: 1000
        deletes:
          type: array
          items:
            type: string
            format: uuid
          description: IDs for the hierarchies to delete
          maxItems: 1000
      required:
      - deletes
      - upserts
    BatchUpdateRecords:
      type: object
      properties:
        upserts:
          type: array
          items:
            type: object
            additionalProperties: {}
          description: Records to create or update. Maximum batch size is 1000.
          maxItems: 1000
        deletes:
          type: array
          items:
            type: string
          description: Unique IDs for the records to delete. Maximum batch size is 1000.
          maxItems: 1000
      required:
      - deletes
      - upserts
    BatchUpdateRecordsByColumnNameResponse:
      type: object
      properties:
        created:
          type: array
          items:
            type: object
            additionalProperties: {}
          description: Records created by primary key columns and start dates.
        updated:
          type: array
          items:
            type: object
            additionalProperties: {}
          description: Records updated by primary key columns and start dates.
        deleted:
          type: array
          items:
            type: object
            additionalProperties: {}
          description: Records deleted by primary key columns and start dates.
      required:
      - created
      - deleted
      - updated
    BlankEnum:
      enum:
      - ''
    BulkAttributeRecordsByColumnName:
      type: object
      properties:
        upserts:
          type: array
          items:
            type: object
            additionalProperties: {}
          description: Records to create or update by primary key columns and start dates.
          maxItems: 1000
        deletes:
          type: array
          items:
            type: object
            additionalProperties: {}
          description: Records to delete by primary key columns and start dates.
          maxItems: 1000
      required:
      - deletes
      - upserts
    Column:
      type: object
      properties:
        object:
          type: string
          readOnly: true
          default: column
        id:
          type: string
          readOnly: true
        name:
          type: string
          nullable: true
          maxLength: 255
        description:
          type: string
          nullable: true
        variant:
          type: string
          readOnly: true
        data_type:
          $ref: '#/components/schemas/DataTypeEnum'
        format:
          nullable: true
        user_defined:
          type: boolean
          readOnly: true
          default: true
        read_only:
          type: boolean
          readOnly: true
        worksheet_id:
          type: string
          readOnly: true
        worksheet_name:
          type: string
          readOnly: true
        formula:
          type: string
        source_column:
          type: string
        source_field_name:
          type: string
        source_field_label:
          type: string
        source:
          type: string
        parent_column:
          type: string
          readOnly: true
        custom_picklist_options:
          allOf:
          - $ref: '#/components/schemas/PicklistOption'
          readOnly: true
        option_group_id:
          type: string
          readOnly: true
        is_primary_key:
          type: boolean
          readOnly: true
        mapped:
          type: boolean
          readOnly: true
      required:
      - data_type
      - formula
      - source
      - source_column
      - source_field_label
      - source_field_name
    ColumnFilter:
      type: object
      properties:
        id:
          type: string
          description: The UUID of the column to filter on.
        op:
          allOf:
          - $ref: '#/components/schemas/OpEnum'
          description: Filter operator.
        term:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
          description: Filter value. A string or a list of strings.
      required:
      - id
      - op
      - term
    ColumnListItem:
      type: object
      properties:
        object:
          type: string
          readOnly: true
          default: column
          description: Optional. Object type name.
        id:
          type: string
          readOnly: true
          description: Primary key, a UUID.
        name:
          type: string
          description: Column name.
        description:
          type: string
          description: Column description.
        variant:
          type: string
[...]
